body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(55, 223, 55);
    background-color: rgb(44, 46, 42);
    border-style: solid;
    border-color:rgb(55, 223, 55);
   
}

